<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ludovicbonivert.rockett"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0"
    >

    <!-- Adding internet connection -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk android:minSdkVersion="14"/>

    <application
        android:name="com.orm.SugarApp"

        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@drawable/r_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <meta-data android:name="DATABASE" android:value="sugar_rockett.db"/>
        <meta-data android:name="VERSION" android:value="1"/>
        <meta-data android:name="QUERY_LOG" android:value="true"/>
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="be.ludovicbonivert.rockett"/>

        <activity
            android:name=".model.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".model.TimerSettingsActivity"
            android:label="@string/title_activity_timer_settings"
            android:parentActivityName=".model.MainActivity" >
        </activity>
        <activity
            android:name=".model.ChronometerActivity"
            android:label="@string/title_activity_chronometer" >
        </activity>
        <activity
            android:name=".model.CountdownActivity"
            android:label="@string/title_activity_countdown" >
        </activity>
        <activity
            android:name=".model.PerformancesActivity"
            android:label="@string/title_activity_performances"
            android:parentActivityName=".model.MainActivity" >
        </activity>

        <service android:name=".controller.ChronometerService" />

        <activity
            android:name=".model.LoginOrSignupActivity"
            android:label="@string/title_activity_login_or_signup"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name=".model.AuthentificateUserActivity"
            android:label="@string/title_activity_authentificate_user" >
        </activity>
    </application>

</manifest>
